body {
    background-color:#AACAFF;
}

img {
    width:10%;
    height:10%;
    padding:5px;
    padding-bottom:20px auto;
    background-color:#FFFFFF;
}

a:after {
    content:attr(title);
}

a {
    text-align:center;
}