body {
    background-color:#AACAFF;
}

@font-face {
    font-family: 'PixelMix';
    src:url('../gallery/pixelmix.ttf');
}

a {
    position:relative;
    display:block;
    float:left;
    width:210px;
    padding:5px;
    text-decoration:none;
    background-color:#FFFFFF;
    margin:10px;
    text-align:center;
    font-family:'PixelMix';
    color:#4169E1;
    box-shadow:15px 15px rgba(150,150,150,0.3);
    -webkit-transition:width 2s, height 2s, background-color 2s, 
    -webkit-transform 2s;
    transition:width 2s, height 2s, background-color 2s, transform 2s, z-index 2s, box-shadow 2s;
    -webkit-transform:rotate(5deg);
}

a:nth-last-of-type(3n)
{
    -webkit-transform:rotate(-5deg);
}

a:nth-last-of-type(5n)
{
    -webkit-transform:rotate(10deg);
}

a:hover {
    position:relative;
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
    transform:scale(2.3);
    z-index:5;
    box-shadow:15px 15px 10px 20px rgba(150,150,150,0.2);
}

img {
    width:100%;
    height:100%;
}

a:after {
    content:attr(title);
    word-break:break-word;
}

#images {
    float:left;
    width:70%;
    padding-left:75px;
    padding-top:75px;
}

#sida {
    text-align:center;
    float:right;
    width:20%;
}

#sida h2, p, ul {
    float:left;
    font-family:"pixelmix";
}

#sida li {
    text-align:left;
}