body {
    margin:0px;
    padding:0px;
    width:100%;
}

#header {
    width:100%;
    padding-right:0px;
    padding-left:0px;
    padding-top:130px;
    padding-bottom:10px;
    margin:0px;
    font-size:12px;
    border-radius:0px;
    border:none;
    background-position:50% 30px;
}

#content {
    left:0px;
    top:-20px;
    bottom:0px;
    right:0px;
    margin:0px;
    padding:0px;
    width:100%;
    border:none;
}

#content .framing .blog {
    background-position:20px 1px;
    padding-left:70px;
}

#content p, a {
    font-size:0.85em;
}

#content h1, h2 {
    text-align:center;
}

#content .date {
    font-size:9px;
    font-weight:bolder;
}

#content img#orbs {
    display:block;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

#content table {
    width:85%;
    margin-left:auto;
    margin-right:auto;
}

#content dd {
    word-break:break-all;
}

#content form {
    width:85%;
    margin-left:auto;
    margin-right:auto;
    left:0px;
}

#content form #sendbutton {
    left:0px;
}

#navigation {
    width:100%;
    left:0px;
    top:0px;
    bottom:0px;
    right:0px;
    margin:0px;
    padding-top:5px;
    padding-bottom:5px;
    border:none;
}

#navigation li {
    width:95%;
    padding:5px;
}

#navigation li a {
    padding-right:5px;
    padding-left:30px;
    padding-bottom:10px;
    height:10px;
}

#footer {
    width:100%;
    padding-bottom:1px;
    padding-top:5px;
    padding-left:0px;
    padding-right:0px;
    margin:0px;
    border:none;
}

#footer p {
    margin-left:20px;
}