body {
        background-color:#7D9EC0;
}

header#mainheader {
        border:solid;
        border-radius:10px;
        margin-left:5px;
        background-color:#CADEEE;
        background-image:url(pics/newLogo.png);
        background-repeat:no-repeat;
        background-position:center left 30px;
        text-align:center;
        font-family:garamond;
        padding:30px;
        font-size:18px;
        color:#000000;
        text-decoration:none;
}


header {
        padding-top:20px;
        font-size:32px;
        text-align:center;
        font-weight:bolder;
        color:#000080;
        text-decoration:underline;
}

main {
        background-color:#C0DEED;
        position:relative;
        border:1px solid;
        padding:50px;
        padding-left:200px;
        padding-right:200px;
        left:210px;
        bottom:193px;
        width:67%;
        margin-left:10px;
        font-family:courier;
}

main h1,h2,h3 {
        border-bottom:2px solid;
}

main h3.blog {
        background-image: url("pics/paper.png");
        background-repeat:no-repeat;
        padding-left:37px;
}

main article a {
        text-decoration:none;
        color:#000000;
}

main li a:hover {
        text-decoration:underline;
}

main img.right {
        margin:5px;
}

main img#orbs {
        margin-top:10px;
}

main li.check {
        list-style-image:url(pics/Check-icon.png);
}

main li.cross {
        list-style-image:url(pics/Cross-icon.png);
}

main table {
        border: 2px solid black;
        border-left: 2px solid green;
        border-top: 2px solid green;
        margin:10px;
        margin-bottom:10px;
        background-color:#3D9140;
}

main table col.data {
        background-color:#ABFBBF;
}

main table .different {
        background-color:#11FF61;
}

nav {
        border:1px solid;
        width:210px;
        margin:5px;
        background-color:#96CDCD;
        font-family:georgia;
}

nav a.active {
        font-size:20px;
        font-weight:bold;
        padding-bottom:15px;
        padding-top:15px;
}

nav li a {
        color:#6600FF;
        text-decoration:none;
        display:block;
        padding:5px;
        padding-right:5px;
        padding-left:30px;
        background-image:url("pics/sprite.png");
        background-position:0px 0px;
        background-repeat:no-repeat;
}

nav li a#item1.active {
        background-position:2px -34px;
}

nav li a#item1.active:hover {
        background-position:2px 14px;
}

nav li a#item1 {
        background-position:2px -45px;
}

nav li a#item1:hover {
        background-position:2px 3px;
}

nav li a#item2.active {
        background-position:2px -127px;
}

nav li a#item2.active:hover {
        background-position:2px -79px;
}

nav li a#item2 {
        background-position:2px -141px;
}

nav li a#item2:hover {
        background-position:2px -93px;
}

nav li a#item3.active {
        background-position:2px -223px;
}

nav li a#item3.active:hover {
        background-position:2px -175px;
}

nav li a#item3 {
        background-position:2px -237px;
}

nav li a#item3:hover {
        background-position:2px -189px;
}

nav li a#item4.active {
        background-position:2px -319px;
}

nav li a#item4.active:hover {
        background-position:2px -271px;
}

nav li a#item4 {
        background-position:2px -333px;
}

nav li a#item4:hover {
        background-position:2px -285px;
}

nav li {
        background-color:#D2D2ff;
        text-decoration:none;
        margin-bottom:5px;
        margin-left:-20px;
        width:175px;
        list-style:none;
}
nav li.active {
        background-color:#638BFF;
        text-align:right;
}

nav li:hover {
        background-color:#9292FF;
        text-decoration:underline;
}

footer {
        border:solid;
        margin-top:-185px;
        background-color:#008B8B;
        padding-left:15px;
}

footer p {
        font-style:italic;
}

aside p.date {
        font-style:italic;
        font-size:14px;
        text-align:right;
}

article {
        background-color:#BACFFF;
        border-bottom:1px solid;
        border-color:#78A3FF;
}

article p {
        padding-right:20px;
        padding-left:20px;
}

article h2,h3,h4 {
        padding:5px;
}

article .left {
        float:left;
}

article .right  {
        float:right;
}

article .extra-margin {
        margin-left:20px;
}

article > a {
        padding-left:20px;
}

article a.underline:hover {
        text-decoration:underline;
}

article aside.comment {
    margin-left:30px;
    width:30%;
}

aside.comment article {
        background-color:#BCD2EE;
        margin-bottom:20px;
        border:1px solid black;
}

div.vcard {
        margin:20px;
}

article article {
    background-color:#FFF;
}



form {
        position:relative;
        font-family:arial;
        color:#3A5FCD;
        background-color:#3D59AB;
        padding-top:7px;
        width:500px;
        left:300px;
        bottom:10px;
        border-radius:10px;
        border:2px dashed black;
}

form .styled {
        margin:10px;
}

form fieldset.styled, legend {
        background-color:#AAB1FF;
}

form legend {
        font-weight:bold;
        color:#27408B;
        font-family:tahoma;
        border-color:#FF0000;
        border-top:1px groove #9FB6CD;
        border-left:1px groove #9FB6CD;
        border-right:1px groove #9FB6CD;
        padding-left:5px;
        padding-right:5px;
        padding-top:5px;
}

form input.specialinput {
        margin-left:43px;
}

form select#option {
        margin-left:12px;
}

form #sendbutton {
        position:relative;
        left:220px;
        bottom:7px;
        padding:5px;
        color:#473C8B;
        background-color:#D8BFD8;
}

h3#form {
        text-align:center;
        font-family:arial;
        color:#27408B;
        border-bottom-style:groove;
}
        

/*
        Colour:
        
        Body Background:                   #7D9EC0
        Content Background:                #C0DEED
        Framing:                           #BACFFF
        Navigation Background:             #96CDCD
        header Background:                 #CADEEE
        footer Background:                 #008B8B
        


*/

