#header {
    padding:0px;
    border:none;
}

#content {
    position:relative;
    left:0px;
    top:0px;
    border:none;
    padding-left:120px;
    padding-top:10px;
}

#content img {
    width:230px;
    height:150px;
}

#content a.external:after {
    content:" (" attr(href) ") ";font-size:0.8em;font-weight:normal;
}

#content a,h1,h2,h3,h4,p {
    font-family:arial;
    border:none;
    padding:0px;
}

#content .framing h3.blog {
    background-image:none;
    padding:0px;
}

#navigation {
    display:none;
}

#footer {
    border:none;
    position:relative;
    left:0px;
    top:170px;
}

div.framing {
        border:none;
        margin-bottom:30px;
}

div.framing p,h1,h2,h3,h4 {
    padding:0px;
    margin-top:5px;
}

div .date {
    text-align:left;
    margin-top:5px;
}