body {
        background-color:#7D9EC0;/*7D9EC0*/
}

#header {
        border:solid;
        border-radius:10px;
        margin-left:5px;
        padding-left:30px;
        background-color:#CADEEE;/*CADEEE*/
        background-image:url(pics/newLogo.png);
        background-repeat:no-repeat;
        background-position:center left 30px;
        text-align:center;
        font-family:garamond;
        padding:30px;
}

#content {
        background-color:#C0DEED;
        position:relative;
        border:1px solid;
        padding:50px;
        padding-left:100px;
        padding-right:100px;
        left:180px;
        bottom:193px;
        width:1495px;
        margin-left:10px;
        font-family:courier;
}

#content h1,h2,h3 {
        border-bottom:2px solid;
}

#content h3.blog {
        background-image: url("pics/paper.png");
        background-repeat:no-repeat;
        padding-left:37px;
        
}

#content table {
        margin:10px;
        margin-bottom:10px;
}

#content li a {
        text-decoration:none;
        color:#000000;
}

#content li a:hover {
        text-decoration:underline;
}

#content li.check {
        list-style-image:url(pics/Check-icon.png);
}

#content li.cross {
        list-style-image:url(pics/Cross-icon.png);
}

#navigation {
        border:1px solid;
        width:175px;
        margin:5px;
        background-color:#96CDCD;
        font-family:georgia;
}

#navigation a.active {
        font-size:20px;
        font-weight:bold;
        padding-bottom:15px;
        padding-top:15px;
}

#navigation li {
        background-color:#D2D2ff;
        text-decoration:none;
        margin-bottom:5px;
        margin-left:-30px;
        width:155px;
        list-style:none;
}

#navigation li a {
        color:#6600FF;
        text-decoration:none;
        display:block;
        padding:5px;
}

#navigation li.active {
        background-color:#638BFF;
        text-align:right;
}

#navigation li:hover {
        background-color:#9292FF;
        text-decoration:underline;
}

#footer {
    border:solid;
    margin-top:-155px;
    background-color:#008B8B;
    padding-left:15px;
}

#footer p {
    font-style:italic;
}

#video video {
        border-style:dotted; color:#000066;
}

div.framing {
        background-color:#BACFFF;
}

div.framing > p:last-child  {
        
        border-bottom:1px solid;
        border-color:#78A3FF;
}

div.framing ul:last-child  {
        border-bottom:1px solid;
        border-color:#78A3FF;
}

div.framing ul.specialpadding > li:last-child {
        padding-bottom:10px;
}

div.framing ol:last-child {
        border-bottom:1px solid;
        border-color:#78A3FF;
}

div.framing ol.specialpadding > li:last-child {
        padding-bottom:10px;
}

div.framing p,h2,h3,h4 {
        padding:5px;
}

div.framing video {
        margin-left:10px;
}

p.date {
        font-style:italic;
        font-size:14px;
}



/*

        Table Margin Bottom


*/